.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:designs, :index)
      %li=link_to pat(:new), url(:designs, :new)
      %li.active=link_to pat(:edit), url(:designs, :edit, :id => @design.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:design)
    .inner
      -form_for :design, url(:designs, :update, :id => @design.id), :method => :put, :class => :form do |f|
        =partial "designs/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")