%h1 Všeobecné obchodní podmínky

%ol
  %li Objednání zboží – uzavření kupní smlouvy
  %ol
    %li Tyto všeobecné obchodní podmínky upravují vzájemné vztahy mezi společností GravaStar s.r.o., se sídlem Charlese de Gaulla 800/3, 160 00 Praha, IČO:  27386830, zapsanou v Obchodním rejstříku, vedeném Městským soudem v Praze, oddíl C, vložka 115629 (dále jako „prodávající“) a zákazníkem (dále jako „kupující“) při prodeji a koupi zboží prostřednictvím internetového obchodu. Tyto všeobecné obchodní podmínky tvoří neoddělitelnou součást každé kupní smlouvy uzavřené ve formě nabídky ze strany prodávajícího a objednávky na dodání zboží ze strany kupujícího.

    %li Kupní smlouva, na jejímž základě je realizován prodej zboží prodávajícím kupujícímu, vzniká odesláním vyplněného formuláře elektronické objednávky (dále jako „objednávka“) kupujícím prodávajícímu. V objednávce musí být vyplněny tyto údaje:
    %ul
      %li identifikační údaje kupujícího (t.j. jméno a příjmení, přesná a úplná adresa, e-mailová adresa, telefonní číslo),
      %li specifikace objednaného zboží (t.j. číslo a název zboží, velikost, barva a pod.) a jeho množství (t.j. počet objednaných kusů),
      %li cena a způsob platby za zboží,
      %li místo dodání zboží, kterým je přesná a úplná adresa v identifikačních údajích kupujícího
    Na objednávku kupujícího, která neobsahuje údaje nezbytné pro plnění smlouvy a dodání zboží, prodávající nepřihlíží. Uzavření kupní smlouvy bude kupujícímu potvrzeno zasláním stručné zprávy na e-mailovou adresu, kterou uvede v objednávce.

    %li Odesláním objednávky kupující uzavírá kupní smlouvu na vybrané zboží a vstupuje tím do smluvního vztahu s prodávajícím, který se řídí těmito všeobecnými obchodními podmínkami. Odesláním objednávky kupující tyto všeobecné obchodní podmínky prodávajícího bez výhrad přijímá.

  %li Odstoupení kupujícího od smlouvy
  %ol
    %li Kupující je oprávněn bez uvedení důvodu odstoupit od smlouvy do sedmi (7) pracovních dnů ode dne převzetí zboží, pokud se nejedná o prodej zboží zhotoveného podle osobních požadavků kupujícího a určeného osobně pro jednoho kupujícího (t.j. pokud jde o tričko bez potištěného motivu). Odstoupením kupujícího od smlouvy se smlouva ruší od začátku.

    %li V případě odstoupení od smlouvy je kupující povinen vrátit zboží prodávajícímu nepoužité, nepoškozené a s dokladem o jeho zakoupení u prodávajícího (fakturou). Zboží je potřeba zaslat na adresu sídla prodávajícího doporučeně a pojištěné (prodávající neručí za jeho případnou ztrátu nebo poškození během přepravy). Náklady na vrácení zboží hradí kupující.

    %li V případě odstoupení od smlouvy je prodávající povinen:
    %ul
      %li převzít zboží zpět,
      %li vrátit kupujícímu nejpožději do 15 dnů ode dne odstoupení od smlouvy, ne však dříve než 3 dny od obdržení vráceného zboží prodávajícím, cenu zaplacenou za zboží včetně nákladů, které kupující vynaložil v souvislosti s objednáním zboží.

    %li Kupující nemá právo odstoupit od smlouvy, pokud jde o prodej zboží zhotoveného podle osobních požadavků kupujícího a určeného osobně pro jednoho kupujícího (t.j. pokud jde o tričko s vybraným potištěným motivem).


  %li Dodací podmínky a náklady na dodání zboží
  %ol
    %li Způsob dodání zboží je prostřednictvím společnosti Česká Pošta, a. s.

    %li Cenu balného a dopravy zboží na místo dodání uvedené kupujícím v objednávce hradí kupující.
    Cena balného a dopravy v rámci území ČR je:
    a) při objednávce zboží v hodnotě do 1800 Kč je 71 Kč
    b) při objednávce zboží v hodnotě nad 1800 Kč je zdarma.

    %li Cenu balného a dopravy zboží na místo dodání uvedené kupujícím v objednávce hradí kupující.
    Cena balného a dopravy v rámci území Evropské Unie je:
    a) při objednávce zboží v hodnotě do 2600 Kč je 210 Kč
    b) při objednávce zboží v hodnotě nad 2600 Kč je zdarma.

    %li Zboží je během přepravy pojištěno pro případ poškození a ztráty, přičemž toto pojištění je zahrnuto v ceně dopravy uvedené v předchozím článku.

    %li Dodání zboží kupujícímu bude podle dostupnosti zboží a provozních možností prodávajícího realizováno v co nejkratším čase, obvykle do pěti (7) pracovních dnů od připsání sumy na účet prodávajícího (v případě bezhotovostní platby kupní ceny). Prodávající však nezaručuje žádný termín dodání.

    %li Místo dodání zboží si stanoví kupující při objednávání zboží. Za splnění dodání zboží se považuje jeho doručení na adresu uvedenou v objednávce kupujícího.

    %li Dodané zboží zůstává až do jeho úplného zaplacení kupujícím vlastnictvím prodávajícího.

    %li V případě nepřevzetí zboží kupujícím si prodávající vyhrazuje právo uplatnit svůj nárok na náhradu vzniklé škody. V případě, že si kupující zboží nepřevezme při prvním doručení a požaduje opětovné doručení zboží, je povinen uhradit náklady prvního i opětovného doručování.

    %li Prodávající vystaví k objednanému zboží fakturu, kterou odevzdá/zašle kupujícímu společně s objednaným zbožím.


  %li Platební podmínky
  %ol
    %li Ceny výrobků uvedené na internetové stránce jsou pro kupujícího konečné. Předložením kódu na slevu může kupující u prodávajícího uplatnit nárok na slevu z kupní ceny ve výši 5%.

    %li Kupující je povinen uhradit cenu zboží jedním z následujících způsobů (zvoleným při provedení objednávky):
    %ol
      %li bezhotovostně, to znamená bankovním převodem na účet prodávajícího uvedený v objednávkovém formuláři. Bezhotovostní platbu je potřeba uskutečnit předem a to do tří (3) pracovních dnů od zaslání objednávky zboží prodávajícímu. Jako variabilní symbol se uvede číslo objednávky.
      %li nebo dobírkou - hotově při převzetí zboží

  %li Další smluvní podmínky
  %ol
    %li Pokud prodávající nedodrží smlouvu, protože objednané zboží nemůže dodat, je povinen o tom neodkladně informovat kupujícího a do 15 dnů mu vrátit cenu zaplacenou za zboží, pokud se prodávající a kupující nedohodnou na náhradním plnění.

    %li Pokud se prodávající a kupující nedohodnou na náhradním plnění, prodávající je povinen nahradit všechny prokázané náklady, které kupující vynaložil na objednání zboží.

    %li Při náhradním plnění je prodávající povinen kupujícímu dodat zboží ve stejné kvalitě a ceně.


  %li Zodpovědnost za poškození – reklamace
  %ol
    %li Kupující je povinen zboží při jeho převzetí prohlédnout. Pokud zjistí mechanické poškození obalu zboží, je kupující povinen stav zboží zkontrolovat a v případě poškození vyhotovit záznam o poškození, který podepíše společně se zástupcem dopravce. Zodpovědnost za poškození během dopravy zboží kupujícímu nese dopravce, protože zboží je pojištěno. Na základě vyhotoveného záznamu bude kupujícímu po uzavření škodné události s dopravcem poskytnuta přiměřená sleva nebo dodán nový výrobek.

    %li Prodávající zodpovídá za poškození, které má zboží při převzetí kupujícím a během záruční doby. Záruční doba je 24 měsíců a začína platit ode dne převzetí zboží kupujícím. Záruka se nevztahuje na běžné opotřebení zboží způsobené jeho používáním.

    %li Pokud kupující zjistí poškození, za které zodpovídá prodávající, je povinen bez zbytečného odkladu uplatnit reklamaci u prodávajícího.
    POSTUP REKLAMACE:
    %ol
      %li Co nejdříve nás informovat e-mailem nebo telefonicky.
      %li Poslat produkt zpět na adresu firmy: GravaStar, s.r.o., Charlese de Gaulla 800/3, 160 00 Praha 6.
      
    Reklamace se řeší v souladu s příslušnými ustanoveními Občanského zákoníku.

    %li Odstranitelné poškození:
    %ol
      %li Pokud se jedná o poškození, které je možné odstranit, kupující má právo, aby bylo bezplatně, včas a řádně odstraněno. Prodávající je povinen poškození bez zbytečného odkladu odstranit.
      %li Kupující může místo odstranění poškození požadovat výměnu věci, pokud tím prodávajícímu nevzniknou nepřiměřené náklady vzhledem k ceně zboží nebo závažnost poškození.
      %li Prodávající může vždy místo odstranění poškození vyměnit chybnou věc za bezchybnou, pokud to kupujícímu nezpůsobí závažné těžkosti.
      %li Pokud kupující nemůže kvůli opětovnému vyskytnutí se poškození po opravě nebo kvůli většímu počtu poškození věc řádně užívat, má právo na výměnu věci nebo právo od smlouvy odstoupit, t.j. právo na vrácení kupní ceny (právo výběru má kupující).

    %li Neodstranitelné poškození:
    %ol
      %li Pokud jde o poškození, které není možné odstranit a které brání tomu, aby se věc mohla řádně užívat jako věc bez chyby, kupující má právo na výměnu věci nebo má právo od smlouvy odstoupit (právo výběru má kupující).
      %li Pokud jde o jiné neodstranitelné chyby (t.j. takové, které nebrání tomu, aby se věc mohla řádně užívat jako věc bez chyby), kupující má právo na přiměřenou slevu z ceny věci.

    %li Prodávající nebo jím pověřený pracovník rozhodne o odůvodněnosti reklamace ihned, ve složitých případech do tří pracovních dnů. Do této doby se nezapočítává čas potřebný na odborné posouzení vady. Vyřízení reklamace nesmí trvat déle než 30 dnů. Po uplynutí této doby, pokud reklamace nebyla vyřízena, má kupující stejná práva, jakoby šlo o poškození, které není možné odstranit.

    %li Prodávající je povinen vydat kupujícímu doklad o reklamaci a o způsobu jejího vyřízení, a to i tehdy, pokud reklamaci nevyhoví na místě a v celém jejím rozsahu.

    %li Doba od uplatnění práva ze zodpovědnosti za poškození až do doby, kdy kupující po skončení opravy byl povinen věc převzít, se do záruční doby nepočítá. Pokud dojde k výměně věci, začne platit záruční doba znovu od převzetí nové věci.

    %li Kupující má právo na náhradu potřebných nákladů, které mu vznikly v souvislosti s uplatněním práva za zodpovědnost za poškození. Toto právo je třeba uplatnit u prodávajícího nejpozději do jednoho měsíce po uplynutí doby, ve které je třeba vytknout poškození; jinak právo zanikne.


  %li Osobní údaje
  %ol
    %li Pro rychlé a efektivní fungování objednávání a dodávání zboží zpracovává prodávající osobní údaje kupujících, které mu poskytnou v objednávce. Získané osobní údaje prodávající nezveřejňuje, nezpřístupňuje ani neposkytuje třetím osobám a chrání je před poškozením, zničením, ztrátou a zneužitím.

    %li Odesláním objednávky kupující uděluje prodávajícímu ve smyslu § 7 zákona č. 428/2002 Sb o ochraně osobních údajů ve znění pozdějších předpisů souhlas se zpracováním svých osobních údajů uvedených v objednávce za účelem vyřízení objednávky a dodání zboží, a to na dobu nezbytnou pro plnění smlouvy prodávajícím. Poskytnutí osobních údajů kupujícím je dobrovolné. Kupující má právo svůj souhlas odvolat a to písemnou formou na adresu sídla prodávajícího a dále práva podle § 20 zákona č. 428/2002 Sb, t.j. především právo na informace o stavu zpracování svých osobních údajů, právo na opis osobních údajů, které jsou předmětem zpracování, právo na opravu nesprávných nebo neaktuálních osobních údajů v průběhu zpracování, právo na likvidaci osobních údajů, pokud byl splněn účel jejich zpracování, právo na základě bezplatné písemné žádosti namítat vůči využívání svých osobních údajů na marketingové účely.


  %li Závěrečná ustanovení
  %ol
    %li Prodávající nezodpovídá za nedoručení objednávky kupujícího prodávajícímu z technických důvodů nespočívajících na straně prodávajícího.

    %li Prodávající nezodpovídá za výběr motivu na zboží kupujícím. Pokud si kupující objedná individuálně speciální potisk zboží vulgárním, nepřípustným příp. zakázaným motivem, prodávající není povinen zboží vyhotovit a dodat kupujícímu. V takovém případě prodávající o této skutečnosti kupujícího informuje a vrátí mu cenu za zboží, pokud již byla prodávajícímu zaplacena.

    %li Tyto všeobecné obchodní podmínky a všechny kupní smlouvy uzavřené na jejich základě se řídí právními předpisy platnými v České Republice.

    %li Tyto všeobecné obchodní podmínky nabývají platnost a účinnost dne 01.01.2009.