%h1 Provozovatel &amp; Kontakt
%p Provozovatelem internetového obchodu me-tee.cz je:
%h2 GravaStar s.r.o.
%p
  GravaStar s.r.o.
  %br
  Charlese de Gaulla 800/3
  %br
  160 00  Praha 6
%p
  IČ: 27386830
  %br
  DIČ: CZ27386830
  %br 
  č. účtu: 2236192028 / 2400
%p
  %a{:href => 'mailto: info@me-tee.cz'}info@me-tee.cz
  %br
  %a{:href => 'http://www.gravastar.cz/', :title => 'GravaStar s.r.o.'}www.gravastar.cz  
