%h1 Ochrana Vašich dat a soukromí
%p Provozovatel internetového obchodu se zavazuje, že zachová Vaše právo na soukromí a&nbsp;zachová v tajnosti veškeré Vaše soukromé osobní a kontaktní údaje, evidovaná data o Vašich objednávkcáh.
%p Bez svolení objednatele nebude nikdy tyto informace provozovatel poskytovat třetím stranám.
