.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:orders, :index)
      %li=link_to pat(:new), url(:orders, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:order)
    .inner
      %table.table
        %tr
          %th.first=mat(:order, :fullname)
          %th=mat(:order, :size)
          %th=mat(:order, :coupon)
          %th=mat(:order, :gender)
          %th=mat(:order, :phone)
          %th=mat(:order, :email)
          %th=mat(:order, :created_at)
          %th.last="&nbsp;"
        -@orders.each do |order|
          %tr
            %td.first=order.fullname
            %td=order.size
            %td=order.coupon
            %td=order.gender
            %td=order.phone
            %td=order.email
            %td=l order.created_at
            %td.last
              =button_to pat(:edit), url(:orders, :edit, :id => order.id), :method => :get, :class => :button_to
              =button_to pat(:delete), url(:orders, :destroy, :id => order.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
